*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-dark: 227, 14%, 12%;
  --primary-regular: 225, 15%, 15%;
  --primary-light: 232, 15%, 41%;

  --secondary-regular: 227, 64%, 48%;
  --secondary-light: 227, 60%, 72%;

  --white: 0, 0%, 92%;
  --black: 225, 18%, 7%;
  --red: 0, 90%, 56%;
}

html {
  font-family: "Montserrat", sans-serif;
  color: hsl(var(--white));
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 20px;
  padding: 20px;
  background-color: hsl(var(--black));
}

#list-container {
  overflow-y: scroll;
  height: calc(100vh - 40px);
}

table#list {
  border-collapse: collapse;
  height: 2.5rem;
}

#sorting {
  height: 2.55rem;
}

thead,
aside {
  background-color: hsl(var(--primary-light));
}

aside,
#list-container,
thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

aside {
  height: max-content;
}

aside p {
  font-weight: 700;
  padding: 8px;
  height: 2.8rem;
  display: grid;
  place-content: center start;
}

tr {
  font-weight: 500;
}

th {
  text-align: left;
  padding: 13px;
  min-width: 100px;
  position: relative;
  background-color: hsl(var(--primary-light));
  transition: filter 0.15s;
}

th[data-sort]:hover {
  filter: brightness(1.15);
}

td {
  padding: 12px;
}

td {
  background-color: hsl(var(--primary-dark));
}

tr:nth-child(odd) td {
  background-color: hsl(var(--primary-regular));
}

[data-action] {
  cursor: pointer;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: none;
}

button[data-action="filter"] {
  display: block;
  width: 240px;
  text-align: left;
  font-size: inherit;
  color: hsl(var(--white));
  padding: 20px;
  background-color: hsl(var(--primary-dark));
  border-left: 2px transparent solid;
  transition: filter 0.15s;
}

button[data-action="filter"]:nth-child(odd) {
  background-color: hsl(var(--primary-regular));
}

button[data-action="filter"]:hover {
  border-left: 2px hsl(var(--secondary-regular)) solid;
  filter: brightness(1.15);
}

button[data-action="filter"].selected {
  padding: 20px 20px 20px 16px;
  border-left: 6px hsl(var(--secondary-regular)) solid;
  font-weight: 600;
}

.search-container {
  display: flex;
  flex-direction: row;
}

#search-bar {
  display: inline;
  width: 210px;
  text-align: left;
  font-size: inherit;
  color: hsl(var(--white));
  padding: 20px;
  background-color: hsl(var(--primary-dark));
  border: none;
  box-shadow: 0 0 0 2px inset transparent;
  transition: filter 0.15s, box-shadow 0.05s;
}

#search-bar:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px inset hsl(var(--secondary-regular));
}

#search-bar:placeholder-shown {
  font-style: italic;
}

[data-action="clear"] {
  position: relative;
  display: inline;
  font-size: 2rem;
  font-weight: 300;
  width: 30px;
  color: hsl(var(--white));
  background-color: hsl(var(--primary-dark));
  border-left: 2px transparent solid;
  transition: filter 0.15s;
}

[data-action="clear"]:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  background-color: hsl(var(--primary-regular));
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}

[data-action="clear"]:hover {
  filter: brightness(1.15);
}

[data-field="image"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  height: 100px;
  min-width: 100px;
}

[data-field="firstname"],
[data-sort="firstname"] {
  min-width: 16ch;
}

[data-field="lastname"],
[data-sort="lastname"] {
  min-width: 20ch;
}

.unknown {
  font-style: italic;
  font-weight: 400;
  color: hsla(0, 0%, 92%, 0.5);
  font-size: 0.8rem;
}

[data-field="house"],
[data-sort="house"] {
  min-width: 16ch;
}

th.selected::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: hsl(var(--secondary-light));
  bottom: 0;
  left: 0;
  right: 0;
}

th.selected[data-sort-direction="ascending"]::after {
  content: "▲";
  position: absolute;
  bottom: 33%;
  right: 6px;
  color: hsl(var(--white));
  font-size: 1rem;
}

th.selected[data-sort-direction="descending"]::after {
  content: "▼";
  position: absolute;
  top: 33%;
  right: 6px;
  color: hsl(var(--white));
  font-size: 1rem;
}

.student {
  cursor: pointer;
  position: relative;
  transition: filter 0.15s;
}

.student:hover {
  filter: brightness(1.15);
}

.student:hover::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: hsl(var(--secondary-regular));
  bottom: 0;
  top: 0;
  left: 0;
}

.student.expelled {
  filter: grayscale(0.4) brightness(0.6);
}

#modal {
  margin: auto;
  padding: 16px;
  border: none;
  min-width: 400px;
  background-color: hsl(var(--primary-regular));
  color: var(--white);
}

#modal::backdrop {
  backdrop-filter: blur(2px);
  background-color: hsla(0, 0%, 0%, 0.2);
}

.modal-wrapper {
  display: grid;
  gap: 16px;
}

.modal-image {
  place-self: center;
  max-width: 128px;
  max-height: 128px;
  object-fit: cover;
}

.modal-fullname {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

[data-action="expel"] {
  color: hsl(var(--red));
  border: 1px hsl(var(--red)) solid;
  border-radius: 2px;
  background-color: hsla(var(--red), 0.075);
  padding: 12px 16px;
  width: max-content;
  margin-left: auto;
  transition: background-color 0.15s;
}

[data-action="expel"]:hover {
  background-color: hsla(var(--red), 0.25);
}

[data-action="expel"].disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  background-color: hsla(var(--black), 0.25);
}
