*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-dark: hsl(227, 14%, 12%);
  --primary-regular: hsl(225, 15%, 15%);
  --primary-light: hsl(232, 15%, 41%);

  --secondary-regular: hsl(227, 64%, 48%);
  --secondary-light: hsl(227, 60%, 72%);

  --white: hsl(0, 0%, 92%);
  --black: hsl(225, 18%, 7%);
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--white);
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  padding: 0 16px;
  background-color: var(--black);
}

table#list {
  border-collapse: collapse;
  height: 2.5rem;
}

#sorting {
  height: 2.55rem;
}

thead,
aside {
  background-color: var(--primary-light);
  position: sticky;
  top: 0;
  z-index: 10;
}

aside {
  height: max-content;
}

aside p {
  font-weight: 700;
  padding: 8px;
  height: 2.8rem;
  display: grid;
  place-content: center start;
}

tr {
  font-weight: 500;
}

th {
  text-align: left;
  padding: 13px;
  min-width: 135px;
  position: relative;
  background-color: var(--primary-light);
  transition: filter 0.15s;
}

th[data-sort]:hover {
  filter: brightness(1.15);
}

td {
  padding: 12px;
}

td {
  background-color: var(--primary-dark);
}

tr:nth-child(odd) td {
  background-color: var(--primary-regular);
}

[data-action] {
  cursor: pointer;
}

button {
  display: block;
  width: 240px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: inherit;
  color: var(--white);
  border: none;
  padding: 24px;
  background-color: var(--primary-dark);
  border-left: 2px transparent solid;
  transition: filter 0.15s;
}

button:nth-child(odd) {
  background-color: var(--primary-regular);
}

button:hover {
  border-left: 2px var(--secondary-regular) solid;
  filter: brightness(1.15);
}

button.selected {
  padding: 24px 24px 24px 20px;
  border-left: 6px var(--secondary-regular) solid;
}

[data-field="image"] {
  background-repeat: no-repeat;
  background-position: center;
  height: 145px;
  min-width: 135px;
}

[data-field="firstname"],
[data-sort="firstname"] {
  min-width: 16ch;
}

[data-field="lastname"],
[data-sort="lastname"] {
  min-width: 20ch;
}

.unknown {
  font-style: italic;
  font-weight: 400;
  color: hsla(0, 0%, 92%, 0.5);
  font-size: 0.8rem;
}

[data-field="house"],
[data-sort="house"] {
  min-width: 16ch;
}

th.selected::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--secondary-light);
  bottom: 0;
  left: 0;
  right: 0;
}

th.selected[data-sort-direction="ascending"]::after {
  content: "▲";
  position: absolute;
  bottom: 33%;
  right: 6px;
  color: var(--white);
  font-size: 1rem;
}

th.selected[data-sort-direction="descending"]::after {
  content: "▼";
  position: absolute;
  top: 33%;
  right: 6px;
  color: var(--white);
  font-size: 1rem;
}

.student {
  cursor: pointer;
  transition: all 0.15s;
}

.student:hover {
  filter: brightness(1.15);
}
